@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import "./common/footer.css";
@import "./common/header1.css";
*{
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}
body{
  margin: 0;
}

header.header nav.nav ul.nav_list li.aboutli{
  text-decoration: underline;
  text-underline-offset: 10px;
  /* border: 1px solid red; */
  pointer-events: none;
}


div.banner{
  /* border: 1px solid green; */
  background-image: url(../images/whitelogo.jpg);
  background-repeat: no-repeat;
  max-width: 1200px;
  height: 600px;
  background-size: cover;
  background-position: center center;
  margin: 0 auto 150px;
  position: relative;
}

div.banner i.fa-angles-down{
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 3rem;
}

main.main{
  /* border: 1px solid red; */
  width: 1200px;
  margin: 0 auto 150px; 
  position: relative;
}

main.main div.brand{
  /* border: 1px solid green; */
  padding: 10px 50px;
  width: 1100px;
  margin: 0 auto;
  background-color: rgba(196, 196, 196, 0.3);
}

main.main div.brand p.brandhead{
  font-size: 32px;
  color: #233F30
}

main.main div.brand p.brandhead::before{
  content: "";
  border: 8px solid #233F30;
  margin: 0 5px;
}

main.main div.brand p.brandtext{
  /* border: 1px solid blue; */
  padding: 0 0 0 30px;
}

main.main div.aboutuspic{
  width: 550px;
  height: 350px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(10%);
}

main.main div.aboutuspic img{
  width: 550px;
  height: 350px;
}

section.map{
  /* border: 1px solid green; */
  width: 1200px;
  margin: 0 auto 100px;
  position: relative;
}

section.map div.infor{
  /* border: 1px solid red; */
  position: absolute;
  background-color: rgba(196, 196, 196, 0.3);
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 400px;
  padding: 30px;

}

section.map div.infor p.storehead{
  font-size: 32px;
  color: #233F30;
  background-color: white;
  width: 180px;
}