@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import "./common/footer.css";
@import "./common/header1.css";
* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
}

header.header nav.nav ul.nav_list li.open a.course {
  /* content: ""; */
  border: 1px solid white;
  /* color: red; */
  /* font-size: 64px; */
}

header.header nav.nav ul.nav_list li.courseli {
  /* text-decoration: underline; */
  /* text-underline-offset: 10px; */
  /* border: 1px solid red; */
  pointer-events: none;
}

main.main {
  /* border: 1px solid green; */
  /* position: relative; */
  /* height: 1150px; */
  max-width: 1200px;
  margin: 0 auto 100px;
  /* text-align: center; */
}

/* =========================療癒植栽手作課程============================= */
main.main p.coursehead {
  font-size: 2rem;
  color: #233f30;
  /* border: 1px solid red; */
  margin: 32px 200px;
  /* left: 25%; */
  /* position: absolute; */
  /* transform: translateX(-50%); */
}
main.main p.coursehead::before {
  content: "";
  border: 8px solid #233f30;
  margin: 0 5px;
}

@media all and (max-width: 768px) {
  main.main p.coursehead {
    font-size: 2rem;
    margin: 15px 10px;
  }
}

/* =========================療癒植栽手作課程============================= */

main.main div.handmadecourse {
  /* border: 1px solid blue; */
  width: 65%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  /* height: 400px; */
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* top: 160px; */
}

@media all and (max-width: 768px) {
  main.main div.handmadecourse {
    width: 100%;
    flex-direction: column;
  }
}

main.main div.handmadecourse div.handmadecoursepic {
  width: 50%;
  /* border: 1px solid red; */
  height: 400px;
  border-radius: 60px 0 0 60px;
  overflow: hidden;
  /* margin-left: 3%; */
  background-image: url(../images/handmadecourse.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* flex-shrink: 0; */
}
@media all and (max-width: 768px) {
  main.main div.handmadecourse div.handmadecoursepic {
    width: 100%;
    border-radius: 0;
    /* height: ; */
    margin: 0px;
  }
}

main.main div.handmadecourse div.coursetext {
  /* border: 1px solid red; */
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media all and (max-width: 768px) {
  main.main div.handmadecourse div.coursetext {
    width: 100%;
  }
}

main.main div.handmadecourse div.coursetext span.course1date {
  font-size: 2rem;
  /* border: 1px solid black; */
  display: inline-block;
  margin: 64px 35px;
  width: 50%;
  /* position: absolute; */
  /* left: 55%; */
  /* bottom: 50%; */
}

@media all and (max-width: 768px) {
  main.main div.handmadecourse div.coursetext span.course1date {
    margin: 0 40px;
  }
}

main.main div.handmadecourse div.coursetext span.course1text {
  /* border: 1px solid black; */
  display: block;
  margin: 32px 10px;
  /* position: absolute; */
  /* left: 55%; */
  /* bottom: 60px; */
  font-size: 1.5rem;
}

main.main div.handmadecourse div.coursetext span.course1text::before {
  content: "";
  border: 10px solid #233f30;
  margin: 0 5px;
}

main.main div.handmadecourse div.coursetext span.coursetext1 {
  /* border: 1px solid black; */
  /* text-align: right; */
  margin-left: 120px;
  display: inline-block;

  /* left: 56%; */
  /* position: absolute; */
  /* bottom: 5px; */
  font-size: 1rem;
}

@media all and (max-width: 768px) {
  main.main div.handmadecourse div.coursetext span.coursetext1 {
    text-align: right;
    margin: 0 20px;
  }
}

/* =============================療癒乾燥花手作課===========================*/
main.main div.dryflowercourse {
  /* border: 1px solid red; */
  width: 65%;
  min-height: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: 32px auto;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* top: 650px; */
}

@media all and (max-width: 768px) {
  main.main div.dryflowercourse {
    width: 100%;
    flex-direction: column;
    margin-top: 100px;
  }
}

main.main div.dryflowercourse div.dryflowercoursepic {
  width: 50%;
  height: 400px;
  /* flex-grow: 1; */
  border-radius: 0 60px 60px 0;
  overflow: hidden;
  /* border: 1px solid blue; */
  /* float: right; */
  background-image: url(../images/dryflowercourse.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media all and (max-width: 768px) {
  main.main div.dryflowercourse div.dryflowercoursepic {
    width: 100%;
    border-radius: 0;
    /* height: ; */
    margin: 0px;
  }
}

main.main div.dryflowercourse div.dryflower {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
}

@media all and (max-width: 768px) {
  main.main div.dryflowercourse div.dryflower {
    width: 100%;
  }
}

main.main div.dryflowercourse div.dryflower span.course2date {
  font-size: 2rem;
  display: inline-block;
  margin: 64px 32px;
  text-align: right;
  /* text-align: right; */
  /* width: 50% */
  /* border: 1px solid black; */
  /* display: block; */
  /* visibility: hidden; */
}

@media all and (max-width: 768px) {
  main.main div.dryflowercourse div.dryflower span.course2date {
    margin: 0 40px;
    text-align: left;
  }
}

main.main div.dryflowercourse div.dryflower span.course2text {
  /* width: 300px; */
  /* border: 1px solid black; */
  font-size: 1.5rem;
  display: inline-block;
  margin: 32px 32px;
  text-align: right;
}

@media all and (max-width: 768px) {
  main.main div.dryflowercourse div.dryflower span.course2text {
    margin: 0 40px;
    text-align: left;
    margin: 32px 10px;
  }
}

main.main div.dryflowercourse span.course2text::before {
  content: "";
  border: 10px solid #233f30;
  margin: 0 5px;
}

main.main div.dryflowercourse span.coursetext2 {
  /* border: 1px solid black; */
  /* right: 55%; */
  font-size: 1rem;
  text-align: right;
  margin: 0 32px;
  /* display: inline; */
}

@media all and (max-width: 768px) {
  main.main div.dryflowercourse span.coursetext2 {
    /* text-align: right; */
    margin: 0 20px;
  }
}

/* =============================樹木線===========================*/

div.treeline {
  /* border: 1px solid red; */
  margin: 0 auto 100px;
  max-width: 1200px;
  padding: 20px;
  height: 50px;
  background-image: url(../images/tree.jpg);
  background-repeat: repeat-x;
}

/* ============================課程內容===========================*/

section.course {
  max-width: 1200px;
  margin: 50px auto;
  border: 1px solid rgb(59, 128, 59);
  /* position: relative; */
}

section.course aside.coursepic {
  width: 50%;
  border: 1px solid red;
  padding: 10px;
  display: block;
  /* padding-top:100%; */
  /* margin: 100px 0; */
  /* overflow: hidden; */
  /* height: 500px; */

  /* border: 1px solid red; */
  /* height: 1750px; */
  /* display: grid; */
  /* grid-template-columns: 600px; */
  /* grid-template-rows: 400px; */
  /* row-gap: 50px; */
  /* overflow: hidden; */
}

@media all and (max-width: 960px) {
  section.course aside.coursepic {
    width: 100%;
    overflow: hidden;
    padding: 0px;
    /* border: 1px solid black; */
  }
}

/* ul */
#content {
  /* border: 1px solid orange; */
  list-style-type: none;
  /* position: relative; */
  padding: 0;
}

#content li {
  /* float: left; */
  /* padding: 0; */
  /* height: 400px; */
  /* width: 100%; */
}

#content li img {
  /* height: 50%; */
  /* width: 100%; */
}

@media all and (max-width: 960px) {
  /* ul */
  #content {
    /* border: 1px solid orange; */
    list-style-type: none;
    position: relative;
    padding: 0;
  }

  #content li {
    float: left;
    padding: 0;
    /* height: 400px; */
    /* width: 100%; */
  }

  #content li img {
    /* height: 50%; */
    width: 100%;
  }
}

/* ================circle button ==================*/

#contentButton {
  display: none;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  /* padding: 5px; */
}
#contentButton li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #666;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

#contentButton li.clickMe {
  background: #ddd;
}

@media all and (max-width: 960px){
  #contentButton {
    /* border: 1px solid red; */
    /* border: 1px solid red; */
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    /* padding: 5px; */
  }
  #contentButton li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #666;
    /* vertical-align: middle; */
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    /* border: 1px solid green; */
  }
  
  #contentButton li.clickMe {
    background: #ddd;
  }
}





/* ======================================課程內容文字============================= */

section.course div.coursetext {
  position: absolute;
  right: 8%;
  top: 0;
  height: 1750px;
  /* border: 1px solid purple; */
}

section.course div.coursetext div.courseinfor p.classtime {
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0 0px;
}

section.course div.coursetext div.courseinfor p.classsize {
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0 0;
}

section.course div.coursetext div.courseinfor p.classfee {
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0 0;
}

section.course div.coursetext div.line {
  border: 1px solid #8e8e8e;
  margin: 0 auto 16px;
  /* width: 350px; */
}

section.course div.coursetext div.classdetail {
  /* border: 1px solid black; */
  height: 1400px;
}
section.course div.coursetext div.classdetail p.classintroduction {
  font-size: 24px;
  font-weight: bold;
}

section.course div.button {
  /* border: 1px solid black; */
  background-color: #233f30;
  color: white;
  font-size: 24px;
  border-radius: 10px;
  width: 150px;
  margin: 25px auto 0;
  padding: 10px 20px;
  text-align: center;
  position: sticky;
  top: 0px;
}

header.header nav.nav ul.nav_list li.courseli {
  text-decoration: underline;
  text-underline-offset: 10px;
  /* border: 1px solid red; */
  pointer-events: none;
}
