@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import "./common/footer.css";
@import "./common/header1.css";
*{
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}
body{
  margin: 0;
}
img{
  max-width: 100%;
}

header.header nav.nav ul.nav_list li.open a.course{
  /* content: ""; */
  border: 1px solid white;
  /* color: red; */
  /* font-size: 64px; */
}

header.header nav.nav ul.nav_list li.courseli{
  /* text-decoration: underline; */
  /* text-underline-offset: 10px; */
  /* border: 1px solid red; */
  pointer-events: none;
}


main.main{
  /* border: 1px solid green; */
  position: relative;
  height: 1150px;
  width: 1200px;
  margin: 0 auto 100px;
}

/* 療癒植栽手作課程 */
main.main p.coursehead{
  font-size: 32px;
  color: #233F30;
  left: 25%;
  position: absolute;
  transform: translateX(-50%);
}

main.main p.coursehead::before{
  content: "";
  border: 8px solid #233F30;
  margin: 0 5px;
}

main.main div.handmadecourse{
  /* border: 1px solid red; */
  width: 800px;
  height: 400px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 160px;
}

main.main div.handmadecourse div.handmadecoursepic{
  width: 400px;
  height: 400px;
  border-radius: 60px 0 0 60px;
  overflow: hidden;
}

main.main div.handmadecourse div.handmadecoursepic img{
  max-width: 100%;
}

main.main div.handmadecourse span.course1date{
  font-size: 40px;
  /* border: 1px solid black; */
  display: inline-block;
  position: absolute;
  left: 55%;
  bottom: 50%;
  visibility: hidden;
}

main.main div.handmadecourse div.handmadecoursepic span.course1date{
  font-size: 40px;
  /* border: 1px solid black; */
  display: inline-block;
  position: absolute;
  left: 55%;
  bottom: 50%;
  visibility: visible
}

main.main div.handmadecourse span.course1text{
  /* border: 1px solid black; */
  display: inline-block;
  position: absolute;
  left: 55%;
  bottom: 60px;
  font-size: 24px;
}

main.main div.handmadecourse span.course1text::before{
  content: "";
  border: 10px solid #233F30;
  margin: 0 5px;
}

main.main div.handmadecourse span.coursetext1{
  /* border: 1px solid black; */
  left: 56%;
  position: absolute;
  bottom: 5px;
  font-size: 24px;
}

/* 療癒乾燥花手作課 */
main.main div.dryflowercourse{
  /* border: 1px solid red; */
  width: 800px;
  height: 400px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 650px;

}

main.main div.dryflowercourse div.dryflowercoursepic{
  width: 400px;
  height: 400px;
  border-radius: 0 60px 60px 0;
  overflow: hidden;
  float: right;
}

main.main div.dryflowercourse div.dryflowercoursepic img{
  max-height: 100%;
  /* position: relative; */
  transform: translateX(-20%);
}

main.main div.dryflowercourse span.course2date{
  font-size: 40px;
  /* border: 1px solid black; */
  display: inline-block;
  position: absolute;
  left: 25%;
  bottom: 50%;
  visibility: hidden;
}

main.main div.dryflowercourse div.dryflowercoursepic span.course2date{
  font-size: 40px;
  /* border: 1px solid black; */
  display: inline-block;
  position: absolute;
  left: 25%;
  bottom: 50%;
  visibility: visible
}

main.main div.dryflowercourse span.course2text{
  /* width: 300px; */
  /* border: 1px solid black; */
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 55%;
  bottom: 60px;
}

main.main div.dryflowercourse span.course2text::before{
  content: "";
  border: 10px solid #233F30;
  margin: 0 5px;
}

main.main div.dryflowercourse span.coursetext2{
  /* border: 1px solid black; */
  right: 55%;
  position: absolute;
  bottom: 5px;
  font-size: 24px;
}

div.treeline{
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 1200px;
  height: 100px;
  background-image: url(../images/tree.jpg);
  background-repeat: repeat-x;
  
}

section.course{
  width: 1200px;
  margin: 50px auto;
  /* border: 1px solid rgb(59, 128, 59); */
  position: relative;
}

section.course aside.coursepic{
  width: 600px;
  /* border: 1px solid red; */
  height: 1750px;
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 400px;
  row-gap: 50px;
}

section.course aside.coursepic > div{
  /* width: 600px; */
  /* height: 400px; */
  /* border: 1px solid blue; */
}

section.course aside.coursepic div.coursepic1{
  background-image: url(../images/dryflowercourse.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

section.course aside.coursepic div.coursepic2{ 
  background-image: url(../images/course2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

section.course aside.coursepic div.coursepic3{ 
  background-image: url(../images/course3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.course aside.coursepic div.coursepic4{ 
  background-image: url(../images/course.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.course div.coursetext{
  position: absolute;
  right: 8%;
  top: 0;
  height: 1750px;
  /* border: 1px solid purple; */
}

section.course div.coursetext div.courseinfor p.classtime{
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0 0px;
}

section.course div.coursetext div.courseinfor p.classsize{
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0 0;
}

section.course div.coursetext div.courseinfor p.classfee{
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0 0;
}

section.course div.coursetext div.line{
  border: 1px solid #8E8E8E;
  margin: 0 auto 16px;
  /* width: 350px; */
}

section.course div.coursetext div.classdetail{
  /* border: 1px solid black; */
  height: 1400px;
}
section.course div.coursetext div.classdetail p.classintroduction{
  font-size: 24px;
  font-weight: bold;
}

section.course div.button{
  /* border: 1px solid black; */
  background-color: #233F30;
  color: white;
  font-size: 24px;
  border-radius: 10px;
  width: 150px;
  margin: 25px auto 0;
  padding: 10px 20px;
  text-align: center;
  position: sticky;
  top: 0px;
}

header.header nav.nav ul.nav_list li.courseli{
  text-decoration: underline;
  text-underline-offset: 10px;
  /* border: 1px solid red; */
  pointer-events: none;
}



